* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to top, #29375f, #363535);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: black;
    min-height: 90vh;
    width: 70%;
    background: linear-gradient(
    to right bottom,
    rgba(255,255,255, 0.7),
    rgba(255,255,255, 0.3)
    );
    border-radius: 2rem;
    box-shadow: 10px 10px 8px #000000;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}

.sidenav{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    border: 2px solid blueviolet;
    box-shadow: 5px 5px 4px black;
  
}


.sidenav .tablink {
    display: flex;
    border:0;
	background: #363535;
	display: block;
	margin: 0rem 0rem;
	text-align: center;
    border: 3px solid #70F8FF;
    padding: 7px;
	width: 160px;
	outline: none;
	color: #f0ffff;
	border-radius: 24px;
	transition: 0.24s;
}

.sidenav h2{
    color: #363535;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 10px;
    cursor: default;
    text-decoration: underline;
    text-decoration-color: #363535;
}

.sidenav .tablink:hover {
    background-color: #363535;
	border-color: #363535;
    color: wheat;
	width: 190px;
}

.main-display h2{
    color: #363535;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #363535;
    margin-bottom: 100px;
    margin-top: 10px;
    cursor: default;
}

.main-display{
    margin: 1.5rem;
    flex: 4;

}


#users p{
    text-align: center;
    width: 15%;
    padding: 10px;
    background: linear-gradient(
    to right bottom,
    rgba(255,255,255, 0.7),
    rgba(255,255,255, 0.3)
    );
    border-radius: 1rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}