* {
  margin: 0;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: url(urban2.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: black;
  min-height: 90vh;
  width: 70%;
  background: linear-gradient(
  to right bottom,
  rgb(255, 255, 255, 0.7),
  rgba(0,0,0, 0.5)
  );
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: 10px 10px 8px #000000;
  z-index: 2;
  backdrop-filter: blur(2rem);
  overflow: hidden;
}

h4{
  
  color: #363535;
  text-align: center;
  text-decoration: none;
  text-decoration-color: #363535;
  position: absolute;
  top: 20%;
  left: 30%;
  cursor: default;
}


body{
    font-family:  sans-serif;
}

.usr-btn{
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 2px;
}

.usr-btn:hover{
  background-color: #ddd;
  color: #333;
}

.pass-btn{
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 2px;
}

.pass-btn:hover{
  background-color: #ddd;
  color: #333;
}
.box{
    box-sizing: border-box;
}

input[type=email], input[type=password] {
    display: block;
    box-sizing: border-box;
    background: none;
    color: #3498db;
    margin-bottom: 50px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #0082e6;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type=email]:focus, input[type=password]:focus {
    border-bottom: 2px solid #3498db;
    color: #3498db;
    transition: 0.2 ease;
}

/* Set a style for all buttons */
button {
    background-color: inherit;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    cursor: pointer;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    border: 1px solid #3498db;
    padding: 04px 16px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin: 0px;
    transition: all 0.3s;
    width: 30%;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
    border: 1px solid #3498db;
    padding: 04px 16px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin: 0px;
    transition: all 0.3s;
    width: 30%;
}

/* Add padding to container elements */
.container {
  margin-top: 50px;
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: #000000;
  color: #000000;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    box-sizing: border-box;
    width: max-content;
    height: max-content;
    border: 2px solid #3498db;
    box-shadow: -3px -3px 7px #ffffff73,
                3px 3px 5px rgba(94,104,121,0.288);
    border-radius: 5px;
    background: black;
    margin-top: 100px;
    overflow: hidden;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #3498db;
  margin-bottom: 60px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.swal-overlay {
  background-color: rgba(0, 0, 0, 0.74);
}
.swal-button {
  background-color: #4962B3;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}